<section id="timeline">

	<br>
	<header class="text-center">
	<h2>Current Year: 2021</h2>
	<div class="btn btn-danger btn-lg ap-guide">A.P. = Years After the Prophet</div>
	</header>
	<br><br>

    <div class="timeline-area">
	    <div class="container">
		<div class="all-timelines">
            <% @cults.each do |cult| %>
			<!--SINGLE TIMELINE-->
			<div class="single-timeline d-flex-2">
				<div class="timeline-blank"></div>
				<div class="timeline-text d-flex-2">
					<span>
						<h4><%= cult.title %></h4>
                        ~ <%= cult.release_date %> 
                        <span class="ce">C.E.</span> 
                        <span class="after-prophet">
                            <%= cult.release_date - 632 %> 
                            <span class="ap">A.P.</span>
                        </span>
					</span>
					<div class="t-square"></div>
				</div>
			</div>
            <% end %>
		</div>
	</div>

	<br>
	<header class="text-center">
	<div class="btn btn-danger btn-lg ap-guide">The Prophet passed away: 632 C.E.</div>
	</header>

</section>