<style>
	li > li {
		margin-left: 20px;
		list-style-type: circle;
	}

	li > li > li {
		margin-left: 20px;
	}

	li {
		margin: 6px;
	}

	.after-prophet {
		padding: 0 10px;
		color: #fff;
		border-radius: 10px;
		background-color: red;
	}

	.ap {
		color: #ff9090;
	}

	.ce {
		color: #80bdff;
	}

	.title {
		color: #3c2d2d;
		font-size: 20px;
	}
	
	.cult > a {
		display: block;
	}

	.cult:hover > a {
		color: #0056B3 !important;
		text-decoration: none;
		/*border-left: 4px solid #000;*/
		/*padding-left: 6px;*/
		cursor: pointer;
	}

	.deets-container {
		display: none;
	}

	/**/
	.cult-deets {
		margin: 20px 0;
	    display: none;
	    background: #100101;
	    border-radius: 10px;
	    color: #fff;
	    border-left: 2px solid #ccc;
	    display: flex;
	}

	.dtls {
		flex: 1 1 25%;
		border-left: 2px solid #FEEDD9;
		padding: 20px;
	}

	/**/
	.deets-container .title {
		color: #fff;
	}

	.deets-container h3 {
		border-bottom: 4px solid #a21717;
    	padding: 10px;
	}

	.deets-container .triggers {
		background: #670c0c;
	}

	.deets-container .triggers-title {
		background: #d01c1c;
	}

	.key {
		position: relative;
	}
	
	.fa-expand {
		margin-left: 10px;
	}

	/**/
	.adder {
		display: flex;
	}

	.adder input {
		flex: 1 1 80%;
	}

	.adder .fa {
		flex: 1 1 20%;
	}

	/**/
	.dtls li {
		position: relative;
	}
	.dtls li .remove-li {
		left: -34px;
    	top: 6px;
    	position: absolute;
	}

	<% if !admin_signed_in? %>
		.remove-li {
			display: none;
		}
	<% end %>

.toggle-nav {
	display: flex;
	text-align: center;
	font-size: 34px;
}

.toggle-nav > span {
	flex: 1 1 50%;
	padding: 30px;
}

.active-nav {
	background: #000;
	color: #fff;
}

.toggle-views [toggle="timeline"] {
	display: none;
}

</style>

<h2 class="text-center">
	The approval of any cult is the approval of "<u>cults</u>" in general.
</h2>

<br>

<div class="toggle-nav">
	<span toggle="nested" class="active-nav">Nested</span>
	<span toggle="timeline">Timeline</span>
	
</div>
<br>

<div class="toggle-views">

	<section toggle="nested">
		<%= render "pages/nested" %>
	</section>

	<section toggle="timeline">
		<%= render "pages/timeline" %>
	</section>


</div>

<br>
<br>


<script>

	$("body").on("click", ".toggle-nav span", function(){
		toggle = $(this).attr("toggle");
		$(".toggle-views [toggle='"+toggle+"']").show().siblings().hide()
		$(this).addClass("active-nav").siblings().removeClass("active-nav")
	})


	$(".cult").each(function(){
		belongs = $(this).attr("data-belongs")
		$(".cult[data-id='"+belongs+"']").append($(this))
	})

	// 
	$("body").on("click", ".expand-cult", function(){
		li = $(this).closest(".cult")
		li.find('> .deets-container').toggle()
	})

	<% if admin_signed_in? %>

	// 
	$("body").on("click", ".adder .fa-plus", function(){
		
		id = $(this).closest(".cult").attr("data-id")
		
		dtls = $(this).closest(".dtls")
		
		key = dtls.attr("key")

		ul = dtls.find("ul")
		val = dtls.find("input").val()
		console.log(val)
		

		array = []
		ul.find("li").each(function(){
			array.push({
				title: $(this).find(".title").html(),
				body: $(this).find(".body").html(),
			})
		})

		array.push({
			title: val,
			body: ""
		})
		
		hash = {}
		hash[key] = array
		hash["_method"] = "post"


		$.ajax({
		    type: "PUT",
		    dataType: "json",
		    url: '/cults/'+id,
		    contentType: 'application/json',
		    data: JSON.stringify(hash),
		    success: function(res){
		      console.log(res)
		        ul.append(`<li>
		        	<div class="fa fa-times remove-li"></div>
			        <span class="title">
			          `+val+`
			        </span>
			        <div class="body">
			        </div>
			      </li>`)
				dtls.find("input").val("")
		    }
		})

	})

	// 
	$("body").on("click", ".remove-li", function(){
		id = $(this).closest(".cult").attr("data-id")
		dtls = $(this).closest(".dtls")
		key = dtls.attr("key")
		ul = dtls.find("ul")

		$(this).closest("li").remove()

		array = []
		ul.find("li").each(function(){
			array.push({
				title: $(this).find(".title").html(),
				body: $(this).find(".body").html(),
			})
		})
		
		hash = {}
		hash[key] = array
		hash["_method"] = "post"


		$.ajax({
		    type: "PUT",
		    dataType: "json",
		    url: '/cults/'+id,
		    contentType: 'application/json',
		    data: JSON.stringify(hash),
		    success: function(res){
		      console.log(res)
		    }
		})

	})

	<% end %>



</script>